---
import Layout from "../layouts/Layout.astro"
import Nav from "../components/nav.astro";
import Hero from "../components/hero.astro";
import General from "../components/general.astro";
import Faq from "../components/faq.astro";
import Footer from "../components/footer.astro";
---

<Layout title="Welcome to Astro.">
	<div >
		<Nav />
		<Hero />
		<General />
		<Faq />
		<Footer />
	</div>
</Layout>